body{
    background-color: #FFFAF0;
}

.me{
color: #FFC228;
text-align: center;

}

.a{
    width: 300px;
    height:300px;
    border-radius: 50%;
    margin-bottom: 30px;

}

.about{
    color: #434CB4;
    text-align: center;
    border: 100px solid #FFFAF0;
}

h1{
    font-weight: bold;
}

.b{
    width: 100px;
    height: 100px;
   
}

.sns{
    text-align: center;
 

}

.container {
    width: 1080px;
}

#inputFiled {
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

.to-dos {
    margin-top:80px;
}